full support for presence subscriptions

Issue #13 handled the bare minimum for presence by responding to incoming subscription requests.  Code added as part of #9 added some more subscription handling.  Working on those issues convinced me that we need full support for presence subscriptions.  I don't think I can make progress on #9 until that's done.

  * [x] make `isFirstContact` about `<message>` stanzas only
  * [x] add `roster` field to `xmppProcess` type
  * for each combination of local JID and remote JID
    * [x] track whether local JID is subscribed to remote JID's presence
    * [x] track whether remote JID is subscribed to local JID's presence
  * [x] update roster state on incoming/outgoing `subscribed`, `unsubscribed` presence stanza

Refer to [RFC 6121 section 3](https://tools.ietf.org/html/rfc6121#section-3) for details.